body{
    background-color: #f3c2f05d;
    font-family: 'Kanit', sans-serif;
    margin: 1px;

    .main{
        max-width: 100%;
        border: 1px solid black;
        display: grid;

        grid-template-areas: 
        "header"
        "nav"
        "section"
        "section"
        "footer"
        ;
    }
    @media (max-width: 480px) {

        .main {
            grid-template-areas: 
            "header header"
            "nav section"
            "nav section"
            "footer footer" }
    }
}
$encabezados: (
    l:#f384f3,
    m:#5a3e5a,
    s:#161416

);
$l: map-get($encabezados, l);
$m: map-get($encabezados, m);
$s: map-get($encabezados, s);

h1{
    color:$l;
}
h2{
    color:$m;
}
h3{
    color:$m;
}
h4{
    color:$s;
}
