footer{
    grid-area: footer;
    background-color: rgb(243, 181, 243);
  


#footerPie{

    list-style-image: url(../img/vineta.png);  
    display: flex;
    justify-content: space-around;
}   
}

