header{
    grid-area: header;
    width: auto;
    height: 300px;
    margin: 0%;
    padding: 0%;
    text-align: center;
    background-image: linear-gradient(to left, rgb(214, 80, 214) , rgb(236, 181, 236));

}


.headerMarca2{
    color: black;
    font-size: 3rem;
    
}