header{
    grid-area: header;
    width: auto;
    height: auto;
    margin: 0%;
    padding: 0%;
    text-align: center;
    background-image: linear-gradient(to left, rgb(214, 80, 214) , rgb(236, 181, 236));
    grid-row: 1;
    grid-column: 1;



.logoPrimario{
    width: 100%;
    height: auto;
    max-width:480px;
}


}
