section{
    margin: 20px;
    flex: direction;

        .sectionCentroIndex{
            display: flex;
            flex-wrap: column ;
            justify-content: space-around;
        }

        .sectionDosPerros :hover{
            display: flex;
            flex-wrap: column ;
            justify-content: space-around;
            height: 300px;
            transition: heigth 2s;
   
        }
}
.card{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}




.perfilmascotas{
    display: flex;
    flex: column;

}
