section{
    background-color: #f8d9f8;
    margin: auto;
  
        .sectionCentroIndex{
            display: flex;
            flex-wrap: column ;
            justify-content: space-around;
        }

        .sectionDosPerros :hover{
            display: flex;
            flex-direction: row ;
            justify-content: space-around;
            height: 300px;
            transition: heigth 2s;
   
        }
        .cargaDatosBusqueda{
            
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }   
.solodatos{
    width: auto;
    display: flex;
    flex-wrap: wrap;
 }
}
.mapa{
    width: 360px;
}

@media screen and (max-width: 600px) {
    .ocultarImg{
    display:none;}
            }
    .formulario{
    margin: 20px;
        }
    .imgEnBase{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        }

.card{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#carouselExampleIndicators{
    width: auto;
    height: 537px;
}

.perfilmascotas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
@media screen and (max-width: 600px) {
    .perfilmascotas {
        flex-direction: column;
    }
}
.citaDeJuegos{
    margin: 1rem;
}
table {
    margin: auto;
    border: 1px solid #000;

 }

