section{
    background-color: #f8d9f8;
    margin: auto;
  
        .sectionCentroIndex{
            display: flex;
            flex-wrap: column ;
            justify-content: space-around;
        }

        .sectionDosPerros :hover{
            display: flex;
            flex-direction: row ;
            justify-content: space-around;
            height: 300px;
            transition: heigth 2s;
   
        }
        .formulario{
            margin: 20px;
        }
        .imgEnBase{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
}
.card{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#carouselExampleIndicators{
    width: auto;
    height: 537px;
}

.perfilmascotas{
    display: flex;
    flex: column;

}
$encabezados: (
    xl:#f384f3,
    l:#5a3e5a,
    m:#161416,
    s:black,

);
$xl: map-get($encabezados, xl);
$l: map-get($encabezados, l);
$m: map-get($encabezados, m);
$s: map-get($encabezados, s);

h1{
    color:$xl;
}
h2{
    color:$l;
}
h3{
    color:$m;
}
h4{
    color:$s;
}

